body{
    background-image:url('animal.jpg');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position: center;
    text-align: center;
    margin-right:200px;

}
